In [24]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('atl_data.csv')

In [5]:
df

,flight_count,flight_number,departure_airport,arrival_airport_id,arrival_airport
0,1,3071,Boise Air Terminal/Gowen Field,2,Hartsfield-jackson Atlanta International
1,4,2387,Sacramento International,2,Hartsfield-jackson Atlanta International
2,4,6399,Mc Carran International,2,Hartsfield-jackson Atlanta International
3,30,1496,John F Kennedy International,2,Hartsfield-jackson Atlanta International
4,4,4905,Sacramento International,2,Hartsfield-jackson Atlanta International
...,...,...,...,...,...
1475,21,4306,Hopkins International,2,Hartsfield-jackson Atlanta International
1476,21,6297,Hopkins International,2,Hartsfield-jackson Atlanta International
1477,21,2550,Hopkins International,2,Hartsfield-jackson Atlanta International
1478,21,6539,Hopkins International,2,Hartsfield-jackson Atlanta International
1479,21,1459,Hopkins International,2,Hartsfield-jackson Atlanta International

In [9]:
group_df = df.groupby(['departure_airport']).count()
group_df.to_csv(r'atl_count.csv')

In [14]:
lax_df = pd.read_csv('lax_data.csv')

In [15]:
group_lax = lax_df.groupby(['departure_airport']).count()

In [17]:
group_lax

,flight_count,flight_number,arrival_airport_id,arrival_airport
departure_airport,,,,
Adams Field Airport,2,2,2,2
Albemarle,4,4,4,4
Albuquerque International,20,20,20,20
Arcata,2,2,2,2
Arturo Merino Benitez,1,1,1,1
...,...,...,...,...
Washington Dulles International,7,7,7,7
William P Hobby,3,3,3,3
Xiamen,1,1,1,1
Yeager,2,2,2,2
Zhengzhou,2,2,2,2

In [18]:
group_lax.to_csv(r'lax_count.csv')

In [19]:
lax_count = pd.read_csv('lax_count.csv')
atl_count = pd.read_csv('atl_count.csv')

In [22]:
joined_df = atl_count.set_index('departure_airport').join(lax_count.set_index('departure_airport'), lsuffix = "_atl", rsuffix= "_lax")

In [26]:
lax_atl_joined = joined_df.replace(np.nan, 0)

In [27]:
lax_atl_joined.to_csv(r'lax_atl_count.csv')